<nav class="navbar navbar-dark navbar-static-top navbar-expand-md bg-dark p-1 mb-3" id="top">
    <div class="container-fluid">
        <button class="navbar-toggler ml-2" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav mr-auto">
                <li class='nav-item p-1 rounded'>
                    <%= link_to welcome_index_path, class: 'nav-link text-white btn-outline-primary rounded btn-md' do %>
                        <%= fa_icon "home", class: 'text-white' %>
                        <span>Home</span>
                    <%end%>
                </li>  

                <li class='nav-item p-1 rounded'>
                    <%= link_to notes_path, class: 'nav-link text-white btn-outline-warning rounded btn-md' do %>
                        <span>Note</span>
                    <%end%>
                </li>
                <li class='nav-item p-1 rounded'>
                    <%= link_to collaborations_path, class: 'nav-link text-white btn-outline-warning rounded btn-md' do %>
                        <span>Collaboration</span>
                    <%end%>
                </li>
            <% if current_user %>
            <% end %>
            </ul>
            <ul class="nav navbar-nav ml-auto">
            <% if current_user %>
                <li class='nav-item p-1 rounded'>
                    <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-white btn-outline-danger rounded btn-md' do %>
                        <span>Sign Out</span>
                    <%end%>
                </li>
            <%else%>
                <li class='nav-item p-1 rounded'>
                    <%= link_to new_user_registration_path, class: 'nav-link text-white btn-outline-info rounded btn-md' do %>
                        <span>Sign Up</span>
                    <%end%>
                </li>
                <li class='nav-item p-1 rounded'>
                    <%= link_to new_user_session_path, class: 'nav-link text-white btn-outline-success rounded btn-md' do %>
                        <span>Sign In</span>
                    <%end%>
                </li>
            <% end %>     
            </ul>
        </div>
    </div>
</nav>
